.week_dividend .radio_btn {
  width: 40px;
  height: 40px;
}

.week_dividend .divide {
  display: inline-block;
  margin: 0 15px;
}

.week_dividend label {
  cursor: pointer;
}

.t_white {
  color: white;
  font-weight: 600;
  font-size: 11px;
}

.color0 {
  background: #555;
}

.color1 {
  background: #b55dccd9 !important;
}

.color2 {
  background: #516feb !important;
}

.color3 {
  background: #09c3fd !important;
}

.color4 {
  background: #5ed2dc !important;
}

.color5 {
  background: #373cbc !important;
}

.color6 {
  background: #2b3a6d !important;
}

.color9 {
  background: #6214ab !important;
}

.color10 {
  background: #6214ab !important;
}

.inline_btn {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  padding: 3px 5px;
  margin: 2px;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 11px;
}

.inline_btn:hover {
  background: black;
  border: 1px solid black;
  color: white;
}

.excel, a.excel {
  background: green;
  color: white;
  border: 1px solid green;
  padding: 0 10px;
}

.excel:hover {
  background: darkgreen;
}
